*.zip
*.tgz
.idea/
.DS_Store
__pycache/
*.npy
*.csv
*.pages
*.swp
*.tar
*.docx
result_bilateral0.02/
result_bilateral0.05/
result_test/
result_test_bilateral_0.02_0.2_verifying/
result_test_bilateral_0.04_0.2/
result_v2/
